.footer {
  background: url('../images/footer_overlay.png') center center no-repeat,
      #26262d url('../images/footer_bg.png');
  .wrapper {
    padding: 1.5rem 0 3.5rem;
  }
  &__container {
    -js-display: flex;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  &__col {
    padding: 0 2rem;
    transition: all 0.3s ease-out;
    &_center {
      flex-grow: 1;
    }
    &_left {
      padding: 0;
      min-width: 17%;
    }
    &_parent {
      padding-right: 0;
      text-align: center;
    }
    ul {
      padding-left: 1rem;
      margin: 0;
      color: #f5f5f5;
      font: italic 0.9rem/1.2rem 'Georgia', serif;
      a {
        color: #f5f5f5;
        text-decoration: none;
        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
  &__cont {
    display: none;
  }
  &__more {
    text-align: left;
    padding: 1px 0;
  }
  &__title {
    padding: 1.7rem 0 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  &__text {
    color: rgba(255,255,255,0.2);
    font-weight: 400;
  }
  &__legal {
    font-size: 0.9rem;
    margin: 1rem 0 1.2rem;
    a {
      color: #41a7e7;
      text-decoration: underline;
      font-weight: normal;
      &:hover {
        text-decoration: none;
        color: lighten(#41a7e7, 10);
      }
    }
  }
  &__share {
    padding: 0.5rem 0 0.5rem 1rem;
    .footer__text {
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
    }
  }
  &__pd {
    padding: 0 0rem;
    margin: 0.5rem 0;
    a {
      color: rgba(255,255,255,0.3);
      text-decoration: none;
      &:hover {
        color: rgba(255,255,255,0.5);
        text-decoration: underline;
      }
    }
  }
  hr {
    background-color: rgba(0,0,0,0);
    border-width: 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    max-width: 40%;
    margin: 1.5rem auto;
  }
  &__logo {
    max-width: 100%;
    &_m {
      display: none;
    }
  }
  &__warning {
    text-align: center;
    color: #fff;
    font: italic 1.2rem 'Georgia', serif;
    letter-spacing: 0.20em;
  }
  &__copyright {
    font-size: 0.9rem;
    margin-top: 1.2rem;
    text-align: center;
  }
  &__button {
    margin-top: 0.5rem;
  }
  @media screen and (max-width: 60rem) {
    &__pd {
      text-align: center;
    }
    .wrapper {
      padding: 1rem 0 1rem;
    }
    &__col {
      &_left {
        flex-grow: 1;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          margin: 0.4rem 0;
        }
      }
    }
  }
  @media screen and (max-width: 50rem) {
    &__container {
      flex-flow: row wrap;
    }
    &__item {
    }
    &__col {
      &_parent {
        width: 100%;
        padding: 0 1rem;
        margin-top: 1rem;
      }
    }
    &__button {
      text-align: center;
      .button {
        display: inline-block;
        max-width: 16rem;
      }
    }
  }
  @media screen and (max-width: 30rem) {
    &__col {
      width: 100%;
      padding: 0 0.5rem;
      text-align: center;
    }
    &__logo {
      display: none;
      &_m {
        display: block;
      }
    }
    &__legal {
      border-radius: 6px;
      background-color: rgba(255,255,255,0.6);
      // max-height: 100px;
      color: #333;
      // overflow-y: scroll;
      // overflow-x: hidden;
      margin: 1rem 0.5rem 0;
      padding: 0.5rem;
      &:hover {
        background-color: rgba(255,255,255,0.8);
      }
    }
  }
}
