.formats {
  background: url('../images/inner-welcome_bg.jpg') center center no-repeat;
  background-size: cover;
  padding: 10rem 0 3rem;
  &__header {
    -js-display: flex;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 0 3rem;
    h1 {
      font: italic 3.125rem 'Georgia', serif;
      padding: 0 2rem;
      text-align: center;
    }
    .formats__subtitle {
      font: bold italic 1.4rem 'Georgia', serif;
      position: relative;
      top: -0.1rem;
    }
    sup {
      font-size: 0.9rem;
    }
  }
  &__line {
    flex-grow: 1;
    background: rgba(255,255,255,0.5);
    height: 0.2rem;
  }
  &__container {
    -js-display: flex;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
  }
  &__image {
    text-align: center;
  }
  &__icon {
    -js-display: flex;
    display: flex;
    align-items: center;
    padding: 0.2rem 0;
    img {
      margin-right: 10px;
    }
    &:first-child {
      &:hover {
        img {
          animation: rubberBand 1s linear forwards;
        }
      }
    }
    &:nth-child(2) {
      &:hover {
        img {
          animation: tada 1s linear forwards;
        }
      }
    }
    &:nth-child(3) {
      &:hover {
        img {
          animation: zoomIn 0.5s ease-out forwards;
        }
      }
    }
  }
  &__item {
    flex-grow: 1;
    padding: 0 0.5rem;
    padding-bottom: 4.2rem;
    min-width: 50%;
    position: relative;
    img {
      max-width: 100%;
    }
  }
  &__title {
    font: italic 1.4rem 'Georgia', serif;
    text-align: center;
  }
  &__text {
    margin: 1rem 0 1rem;
    color: #62656b;
    text-align: left;
    font-weight: normal;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        position: relative;
        &:before {
          /*content: '– ';*/
        }
      }
    }
  }
  &__button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0.5rem;
    .button {
      padding: 1rem 4rem 1.2rem;
    }
  }
  @media screen and (max-width: 40rem) {
    &__header {
      padding-bottom: 1rem;
    }
    &__container {
      flex-flow: row wrap;
    }
    &__title {
      font-weight: normal;
    }
    &__item {
      margin-top: 2rem;
      min-width: 100%;
      &:last-child {
        margin-top: 3rem;
        padding-top: 3rem;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 20%;
          right: 20%;
          height: 0px;
          border-top: rgba(222, 98, 140, 0.4) dotted 2px;
          // background-color: rgba(222, 98, 140, 0.4);
        }
      }
    }
  }
  @media screen and (max-width: 60rem) {
    &__header, &__header h1 {
      font-size: 2.2rem;
      text-align: center;
      sup {
        top: -1em;
      }
    }
  }
  @media screen and (max-width: 40rem) {
    &__header, &__header h1 {
      /*font-size: 1.6rem;*/
      font-size: 2rem;
      sup {
        top: -0.5em;
      }
    }
  }
  @media screen and (max-width: 30rem) {
    padding: 14rem 0 3rem;
    &__header, &__header h1 {
      font-size: 1.8rem;
      sup {
        top: -0.5em;
      }
    }
  }
}
