.girls {
  position: relative;
  overflow: hidden;
  /* 70px / 1920px */
  padding-bottom: 3.64583vw;
  &__before, &__after {
    img {
      display: block;
    }
  }
  &__before {
    img {
      min-width: 100vw;
      height: 41.8229167vw;
      /* 40px / 1920px */
      margin-bottom: 2.083vw;
    }
  }
  &__after {
    position: absolute;
    top: 0;
    bottom: 3.64583vw;
    left: 50vw;
    margin: auto 0;
    right: -25vw;
    transform: skewX(17deg);
    overflow: hidden;
    transition: left 0.5s ease-out;
    box-shadow: 0 0 3.64583vw rgba(0,0,0,0.25);
    img {
      min-width: 100vw;
      position: absolute;
      height: 100%;
      right: 25vw;
      transform: skewX(-17deg);
    }
  }
}
