.helper {
  padding: 5rem 0 6rem;
  &--shared-bg {
    // background: url('../images/helper_bg.jpg') top center no-repeat;
    background: url('../images/problems_girl.png') 100% 200px no-repeat, url('../images/problems_background.jpg') center top no-repeat;
    // background-size: auto auto, cover;
    @media screen and (max-width: 87.5rem) {
      background-position: 120% 200px, top center;
    }
    @media screen and (max-width: 75rem) {
      background-position: 150% 200px, center top;
    }
    @media screen and (max-width: 60rem) {
      background: url('../images/problems_background.jpg') center top no-repeat;
    }
  }
  &__header {
    font: italic 3rem 'Georgia', serif;
    padding: 0 2rem;
    text-align: center;
    sup {
      font-size: 1rem;
      top: -1.5em;
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
    }
  }
  &__container {
    -js-display: flex;
    display: flex;
    flex-flow: row wrap;
    width: 85%;
    margin: 2rem 0 2rem;
  }
  &__item {
    width: 50%;
    -js-display: flex;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin: 2rem 0;
    &:nth-child(2n) {
      padding-left: 0.5rem;
    }
    &:nth-child(2n+1) {
      padding-right: 0.5rem;
    }
    &:hover {
      .helper__image {
        img {
          animation: swing 0.3s linear forwards;
          @keyframes swing {
            20% {
              transform: rotate3d(0,0,1,15deg)
            }
            40% {
              transform: rotate3d(0,0,1,-10deg)
            }
            60% {
              transform: rotate3d(0,0,1,5deg)
            }
            80% {
              transform: rotate3d(0,0,1,-5deg)
            }
            100% {
              transform: rotate3d(0,0,1,0deg)
            }
          }
        }
      }
      .helper__image.helper__image_pregnant {
        img {
          animation: pulse 1.4s linear forwards;
          @keyframes pulse {
              0% {
                  -webkit-transform: scale3d(1,1,1);
                  transform: scale3d(1,1,1)
              }

              50% {
                  -webkit-transform: scale3d(1.2,1.2,1.2);
                  transform: scale3d(1.2,1.2,1.2)
              }

              100% {
                  -webkit-transform: scale3d(1,1,1);
                  transform: scale3d(1,1,1)
              }
          }
        }
      }
      .helper__image.helper__image_bird {
        animation: bounce 1.5s linear forwards;
        @keyframes bounce {
            0%,100%,20%,53%,80% {
                -webkit-animation-timing-function: cubic-bezier(0.215,.61,.355,1);
                animation-timing-function: cubic-bezier(0.215,.61,.355,1);
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0)
            }

            40%,43% {
                -webkit-animation-timing-function: cubic-bezier(0.755,.050,.855,.060);
                animation-timing-function: cubic-bezier(0.755,.050,.855,.060);
                -webkit-transform: translate3d(0,-30px,0);
                transform: translate3d(0,-30px,0)
            }

            70% {
                -webkit-animation-timing-function: cubic-bezier(0.755,.050,.855,.060);
                animation-timing-function: cubic-bezier(0.755,.050,.855,.060);
                -webkit-transform: translate3d(0,-15px,0);
                transform: translate3d(0,-15px,0)
            }

            90% {
                -webkit-transform: translate3d(0,-4px,0);
                transform: translate3d(0,-4px,0)
            }
        }
      }
    }
  }
  &__text {
    flex: 1;
    margin-left: 1rem;
    font-weight: 400;
  }
  &__image {
    text-align: center;
    width: 71px;
    img {
      margin-top: -1rem;
    }
  }
  &__title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
  }
  &__item-image {
    margin-top: -2.5rem;
  }
  @media screen and (max-height: 900px) {
    &__header {
      font-size: 2.4rem;
    }
  }
  @media screen and (max-width: 60rem) {
    &__container {
      width: 100%;
      transition: all 0.5s ease-out;
    }
    &__item-image {
      margin-top: -1rem;
      text-align: center;
      img {
        max-width: 100%;
      }
    }
  }
  @media screen and (max-width: 40rem) {
    padding: 1.5rem 0;
    &__header {
      font-size: 2.2rem;
      text-align: center;
      margin-bottom: 1rem;
      sup {
        top: -0.5em;
      }
    }
    &__item, &__item:nth-child(n) {
      width: 100%;
      margin: 0 0 1rem;
      padding: 0;
    }
    &__image {
      margin-right: 0.5rem;
      img {
        max-width: 100%;
      }
    }
    &__container {
      width: 100%;
      margin: 0;
      padding: 0 0.5rem;
    }
    &__text {
      margin: 0;
    }
  }
  @media screen and (max-width: 20rem) {
    &__header {
      font-size: 1.4rem;
      sup {
      }
    }
    &__item {
      
    }
    &__image {
      display: none;
    }
  }
}
