.helper {
  padding: 5rem 0 3rem;
  &--shared-bg {
    // background: url('../images/helper_bg.jpg') top center no-repeat;
    background: url('../images/problems_girl.png') 100% 150px no-repeat,
                url('../images/problems_background_mobile.jpg') center top no-repeat;
    // background-size: auto auto, cover;
    background-size: auto auto, cover;
    @media screen and (max-width: 114rem),
           screen and (max-height: 900px) {
      /*background-position: 120% 200px, top center;*/
      background-size: 600px auto, cover;
      background-position: 100% 260px, center top;
    }
    @media screen and (max-width: 100rem) {
      background-image: url('../images/problems_girl_transparent.png'), url('../images/problems_background_mobile.jpg');
    }
    @media screen and (max-width: 87.5rem),
           screen and (max-height: 40rem) {
      /*background-position: 120% 200px, top center;*/
      background-size: 400px auto, cover;
      background-position: 100% 240px, center top;
    }
    @media screen and (max-width: 75rem),
           screen and (max-height: 40rem) {
      /*background-position: 150% 200px, center top;*/
      background-size: 300px auto, cover;
      background-position: 100% 200px, center top;
    }
    @media screen and (max-width: 60rem) {
      background: url('../images/problems_background_mobile.jpg') center top no-repeat;
    }
  }
  &__header {
    font: italic 3rem 'Georgia', serif;
    padding: 0 2rem;
    text-align: center;
    sup {
      font-size: 1rem;
      top: -1.5em;
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
    }
    a {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: #966;
      }
    }
  }
  &__container {
    -js-display: flex;
    display: flex;
    flex-flow: row wrap;
    width: 85%;
    margin: 2rem 0 2rem;
  }
  &__item {
    cursor: pointer;
    width: 50%;
    -js-display: flex;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin: 2rem 0;
    &:nth-child(2n) {
      padding-left: 0.5rem;
    }
    &:nth-child(2n+1) {
      padding-right: 0.5rem;
    }
    &:hover {
      .helper__image {
        img {
          animation: swing 0.3s linear forwards;
        }
      }
      .helper__image.helper__image_pregnant {
        img {
          animation: pulse 1.4s linear forwards;
        }
      }
      .helper__image.helper__image_ages {
        img {
          animation: pulse 1s linear forwards;
        }
      }
      .helper__image.helper__image_bird {
        animation: bounce 1.5s linear forwards;
      }
    }
  }
  &__text {
    flex: 1;
    margin-left: 1rem;
    font-weight: 400;
  }
  &__image {
    text-align: center;
    width: 71px;
    img {
      margin-top: 0rem;
    }
  }
  &__title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
  }
  &__item-image {
    margin-top: -2.5rem;
    img {
      height: 35vh;
      @media screen and (max-height: 640px) {
        display: none !important;
      }
    }
  }/*
  @media screen and (min-height: 900px) {
    &__header {
      font-size: 2.4rem;
    }
  }*/
  @media screen and (max-width: 60rem) {
    padding: 1rem 0 1rem;
    &__container {
      width: 100%;
      transition: all 0.5s ease-out;
      margin: 1rem 0 1rem;
    }
    &__item-image {
      margin-top: -1rem;
      text-align: center;
      img {
        height: auto;
        max-width: 100%;
      }
    }
    &__header {
      font-size: 2.2rem;

      sup {
        top: -1em;
      }
    }
    &__item {
      align-items: center;
    }
  }
  @media screen and (max-width: 40rem) {
    padding: 1.5rem 0 2rem;
    &__header {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 1rem;
      sup {
        top: -0.5em;
      }
    }
    &__item, &__item:nth-child(n) {
      width: 100%;
      margin: 0 0 1rem;
      padding: 0;
    }
    &__image {
      margin-right: 0.5rem;
      img {
        max-width: 100%;
      }
    }
    &__container {
      width: 100%;
      margin: 0;
      padding: 0 0.5rem;
    }
    &__text {
      margin: 0;
    }
  }
  @media screen and (max-width: 30rem) {
    /*&__header {
      font-size: 1.6rem;
      sup {
        top: -0.5em;
      }
    }*/
  }

  @media screen and (max-width: 20rem) {
    &__header {
      font-size: 1.4rem;
      sup {
      }
    }
    &__item {
      
    }
    &__image {
      display: none;
    }
  }
}
