.page {
  padding: 11rem 0 5rem;
  background: url(../images/inner-welcome_bg.jpg) center center no-repeat;
  background-size: cover;
  font-size: 0.95rem;
  &_nobg {
    background: none;
    padding-bottom: 1rem;
  }
  &__header {
    -js-display: flex;
    display: flex;
    width: 100%;
    align-items: center;
    &, h1 {
      font: italic 3.125rem 'Georgia', serif;
      padding: 0 2rem;
      text-align: center;
      sup {
        font-size: 0.9rem;
        top: -1.5rem;
      }
    }
  }
  &__line {
    flex-grow: 1;
    background: rgba(216,216,216,0.5);
    height: 0.2rem;
  }
  td img {
    margin: 0.6rem;
  }
  .icons-list {
    td:first-child img {
      margin-right: 2rem;
    }
  }
  @media screen and (max-width: 60rem) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    &__header, &__header h1 {
      font-size: 2.2rem;
      text-align: center;
      sup {
        top: -1em;
      }
    }
  }
  @media screen and (max-width: 40rem) {
    &__header, &__header h1 {
      /*font-size: 1.6rem;*/
      font-size: 2rem;
      sup {
        top: -0.5em;
      }
    }
  }
  @media screen and (max-width: 30rem) {
    /*padding: 14rem 0 3rem;*/
    &__header, &__header h1 {
      font-size: 1.8rem;
      sup {
        top: -0.5em;
      }
    }
    .icons-list {
      td:first-child img {
        width: 40px;
        margin-right: 1rem;
      }
    }
  }
}
