.signs {
  background: url('../images/signs_bg.jpg') center center no-repeat;
  background-size: cover;
  overflow: hidden;
  /*position: relative;*/
  .wrapper {
    position: relative;
    height: 90vh;
    min-height: 900px;
    @media screen and (max-width: 60rem) {
      padding: 0 1rem;
      min-height: auto;
      height: auto;
      padding: 0 0 3rem;
    }
  }
  &__header {
    position: absolute;
    padding: 6rem 0 2rem 30%;
    text-align: center;
    font: italic 3.125rem 'Georgia', serif;
    @media screen and (max-width: 60rem) {
      padding: 3rem 0 2rem 0;
      position: relative;
      font-size: 2.2rem;
      text-align: center;
      br {
        display: none;
      }
    }
    @media screen and (max-width: 40rem) {
      padding: 3rem 0 2rem 0;
      position: relative;
      font-size: 1.6rem;
      text-align: center;
      br {
        display: none;
      }
    }
    @media screen and (max-height: 900px) {
      font-size: 1.6rem;
    }
  }
  &__container {
    position: relative;
    height: 100%;
    left: 0;
    top: 0;
    .layer {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &_desktop {
      display: none;
      @media screen and (min-width: 60.01rem) {
        display: block;
      }
    }
    &_mobile {
      padding: 0 0 0 30%;
      display: none;
      font-weight: 400;
      & > div {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid rgba(255,255,255,0.3);
        &:last-child {
          border-width: 0;
        }
      }
      @media screen and (max-width: 60rem) {
        display: block;
      }
      @media screen and (max-width: 40rem) {
        padding: 0 1rem;
      }
      @media screen and (max-width: 30rem) {
        padding: 0 1rem;
        & > div {
          padding: 0.7rem 0.5rem;
        }
      }
    }
  }
  &__petal {
    position: absolute;
    background: url('../images/roses/rose1.png') center center no-repeat;
    animation: float 4s ease-in-out infinite forwards;
    div {
      position: absolute;
      text-align: center;
      color: #5d474f;
      font: bold italic 1.4rem 'Georgia', serif;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
    &_1 {
      background-image: url('../images/roses/rose1.png');
      height: 285px;
      width: 345px;
      left: 580 / 960 * 100%;
      top: 280 / 1130 * 100%;
      animation-delay: -0.4s;
      div {
        left: 55%;
        top: 45%;
      }
    }
    &_2 {
      background-image: url('../images/roses/rose2.png');
      height: 175px;
      width: 291px;
      left: 260 / 960 * 100%;
      top: 350 / 1130 * 100%;
      animation-delay: -2.9s;
      div {
        left: 45%;
      }
    }
    &_7 {
      background-image: url('../images/roses/rose3.png');
      height: 178px;
      width: 276px;
      left: 610 / 960 * 100%;
      top: 890 / 1130 * 100%;
      animation-delay: -3.4s;
    }
    &_5 {
      background-image: url('../images/roses/rose4.png');
      height: 193px;
      width: 274px;
      left: 420 / 960 * 100%;
      top: 610 / 1130 * 100%;
      animation-delay: -1.3s;
      div {
        left: 45%;
        top: 52%;
      }
    }
    &_6 {
      background-image: url('../images/roses/rose5.png');
      height: 156px;
      width: 324px;
      left: 150 / 960 * 100%;
      top: 840 / 1130 * 100%;
      animation-delay: -2.3s;
    }
    &_4 {
      background-image: url('../images/roses/rose6.png');
      height: 197px;
      width: 277px;
      left: 730 / 960 * 100%;
      top: 540 / 1130 * 100%;
      animation-delay: -2.5s;
      div {
        left: 45%;
      }
    }
    &_3 {
      background-image: url('../images/roses/rose7.png');
      height: 166px;
      width: 254px;
      left: -34 / 960 * 100%;
      top: 520 / 1130 * 100%;
      animation-delay: -0.4s;
    }
  }
  &__girl {
    position: absolute;
    left: 50%;
    top: 5rem;
    margin-left: -730px;
    @media screen and (max-width: 30rem) {
      display: none;
    }
    @media screen and (min-width: 60.01rem) and (min-height: 1130px) {
      top: auto;
      bottom: 0;
    }
  }
  @media screen and (max-width: 60rem) {
    padding-bottom: 1rem;
  }
}

@keyframes float {
  0% {
    transform: translate3d(0, 0.3rem, 0);
  }
  50% {
    transform: translate3d(0, -0.3rem, 0);
  }
  100% {
    transform: translate3d(0, 0.3rem, 0);
  }
}
