.welcome {
  background-color: $pink;
  user-select: none;
  position: relative;
  height: 41.8229167vw;
  padding-top: 6rem;
  .wrapper {
    width: 100%;
  }
  &__logo {
    text-align: center;
    img {
      max-height: 145px;
      max-width: 164px;
      width: 164 / 2 / 960 * 100vw;
      height: 145 / 2 / 960 * 100vw;
    }
  }
  &__tagline {
    font: bold italic 1.8rem 'Georgia', serif;
    color: #f5f5f5;
    text-align: center;
  }
  &__logo, &__tagline {
    position: relative;
    z-index: 11;
  }
  &__supertext {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  @media screen and (max-width: 93rem) {
    padding-bottom: 2rem;
    &__supertext {
      .wrapper {
        /*-js-display: flex;
            display: flex;
        justify-content: center;
        align-items: center;    */
      }
    }
    &__supertext {
      top: 7rem;
    }
  }
  @media screen and (max-width: 52rem) {
    &__logo {
      display: none;
    }
    &__supertext {
      top: 10rem;
    }
  }
  @media screen and (max-width: 40rem) {
    &__supertext {
      font-size: 1.4rem;
    }
  }
  @media screen and (max-width: 30rem) {
    transition: height 0.3s ease-out;
    /*height: 6rem;*/
    /*padding: 0;*/
    &__tagline {
      font-size: 1.6rem;
    }
  }
}

.inner-welcome {
  position: relative;
}
