@charset "UTF-8";

@import '_sprite';
@import 'node_modules/normalize.css/normalize';
@import 'node_modules/sass-easing/_easings';

@import 'fonts/_fonts';

$mTrans: $easeInOutQuad;
$mTransOut: $easeOutQuad;
$pink: #de628c;

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

html, body, .viewport {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 60rem;
  margin: 0 auto;
}

.viewport {
  -js-display: flex;
  display: flex;
  flex-flow: column;
  .site-content {
    flex-grow: 1;
  }
}

@import 'modules/**/*';
