// @import 'node_modules/sass-font-face/_font-face';

// $font-regular: 'Open Sans Regular';

// @include font-face($font-regular, 'fonts/', 'OpenSans-Regular-webfont', 'open_sansregular');

@font-face {
  font-family: 'Open Sans';
  src: url('subset-OpenSans.eot');
  src: url('subset-OpenSans.eot?#iefix') format('embedded-opentype'),
    url('subset-OpenSans.woff') format('woff'),
    url('subset-OpenSans.ttf') format('truetype'),
    url('subset-OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Open Sans';
  src: url('fonts/subset-OpenSans-Light.eot');
  src: url('fonts/subset-OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/subset-OpenSans-Light.woff') format('woff'),
    url('fonts/subset-OpenSans-Light.ttf') format('truetype'),
    url('fonts/subset-OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('fonts/subset-Georgia-Italic.eot');
  src: url('fonts/subset-Georgia-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/subset-Georgia-Italic.woff') format('woff'),
    url('fonts/subset-Georgia-Italic.ttf') format('truetype'),
    url('fonts/subset-Georgia-Italic.svg#Georgia-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Georgia';
  src: url('fonts/subset-Georgia-BoldItalic.eot');
  src: url('fonts/subset-Georgia-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/subset-Georgia-BoldItalic.woff') format('woff'),
    url('fonts/subset-Georgia-BoldItalic.ttf') format('truetype'),
    url('fonts/subset-Georgia-BoldItalic.svg#Georgia-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/subset-OpenSans-Italic.eot');
  src: url('fonts/subset-OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/subset-OpenSans-Italic.woff') format('woff'),
    url('fonts/subset-OpenSans-Italic.ttf') format('truetype'),
    url('fonts/subset-OpenSans-Italic.svg#OpenSans-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/subset-OpenSans-Bold.eot');
  src: url('fonts/subset-OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/subset-OpenSans-Bold.woff') format('woff'),
    url('fonts/subset-OpenSans-Bold.ttf') format('truetype'),
    url('fonts/subset-OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
